@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to right, #e0c3fc, #8ec5fc); /* Gradient */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
